---
import "../styles/global.css";
import Logo from "./Logo.astro";
---

<header>
  <div class="headerInner">
    <Logo />
  </div>
</header>

<style>
  header {
    position: sticky;
    top: 0;
    background-color: var(--color-white);
    padding: 12px 16px;
  }

  .headerInner {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
</style>

<style is:global>
  .logouBtn {
    background-color: var(--color-black);
    color: var(--color-white);
    padding: 8px 24px;
    text-decoration: none;
    transition: all 0.3s ease;
    border-radius: 4px;
  }

  .logouBtn:hover {
    opacity: 0.7;
    border-radius: 4px 4px 0 0;
  }
</style>

<script is:inline type="module">
  const URL = "http://localhost:3000"
  document.addEventListener("DOMContentLoaded", async () => {
    const headerInner = document.querySelector(".headerInner");

    if (!headerInner) return;

    async function checkLoginStatus() {
      try {
        const res = await fetch(`${URL}/api/users/check-login`, {
          method: "GET",
          credentials: "include",
        });
        const { isLoggedIn } = await res.json();

        if (isLoggedIn) {
          const logoutLink = document.createElement("a");
          logoutLink.id = "logout";
          logoutLink.textContent = "Logout";
          logoutLink.className = "logouBtn";

          headerInner.appendChild(logoutLink);

          logoutLink.addEventListener("click", function (event) {
            event.preventDefault(); 
        
            fetch(`${URL}/api/users/logout`, {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              credentials: "include",
            })
              .then((res) => {
                if (res.ok) {
                  return fetch(`${URL}/api/users/check-login`, {
                    method: "GET",
                    credentials: "include",
                    headers: {
                      "Cache-Control": "no-cache",
                    },
                  });
                } else {
                  throw new Error("Logout failed");
                }
              })
              .then((res) => res.json())
              .then((data) => {
                if (!data.isLoggedIn) {
                  window.location.href = "/lp";
                } else {
                  throw new Error("Still logged in, something went wrong.");
                }
              })
              .catch((error) => {
                console.error("Error during logout:", error);
              });
          });
        }
      } catch (error) {
        console.error("Error checking login status:", error);
      }
    }

    checkLoginStatus();
    
  });

</script>
