---
import BaseLayout from "../layouts/BaseLayout.astro";

const title = "Home";
---

<BaseLayout title={title}>
  <section>
    <h1>Poll Title</h1>
    <div style="width: 800px;"><canvas id="barChart"></canvas></div>
  </section>
</BaseLayout>

<script is:inline type="module">
  // import {Chart} from 'chart.js'
  import {Chart} from 'https://cdn.jsdelivr.net/npm/chart.js';


  let barCtx = document.getElementById("barChart");
  let barConfig = {
    type: "bar",
    data: {
      labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
      datasets: [
        {
          data: [10, 19, 6, 8, 2, 11],
          label: "label",
          backgroundColor: [
            "#ff0000",
            "#0000ff",
            "#ffff00",
            "#008000",
            "#800080",
            "#ffa500",
          ],
          borderWidth: 1,
        },
      ],
    },
  };
  let barChart = new Chart(barCtx, barConfig);
</script>

<style>
  section {
    min-height: 100vh;
    padding: 16px;
  }
</style>
