---
import BaseLayout from "../layouts/BaseLayout.astro";
import CreatePoll from "../components/CreatePoll.astro";

const title = "Home";
---

<BaseLayout title={title}>
  <section>
    <h1>Poll Title</h1>
    <h1 id="pollTitle">Loading...</h1>
    <div>
      <CreatePoll />
    </div>
  </section>
</BaseLayout>

<script is:inline type="module">
  const pollTitle = document.getElementById("pollTitle");

  //Get user data
  async function fetchUserData() {
    try {
      const response = await fetch("http://localhost:3000/api/users/profile", {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
        },
        credentials: "include",
      });

      if (!response.ok) {
        throw new Error(`Error: ${response.statusText}`);
      }

      const data = await response.json();

      pollTitle.textContent = `Welcome, ${data.username}!`;
    } catch (error) {
      console.error("Error loading user data:", error);
      pollTitle.textContent = "Error loading user data.";
    }
  }

  fetchUserData();
</script>

<style>
  section {
    min-height: 100vh;
    padding: 16px;
  }
</style>
