---
import Form from "../components/Form.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section>
    <h1>Register Account</h1>
    <Form />
  </section>
</BaseLayout>

<style>
  section {
    padding: 80px 16px;
    max-width: 1280px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    place-items: center;
  }

  h1 {
    font-size: 32px;
    font-weight: bold;
  }
</style>
