---
import FormSubInfo from "../components/FormSubInfo.astro";
import Loading from "../components/Loading.astro";
import RegisterForm from "../components/RegisterForm.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const apiUrl = import.meta.env.PUBLIC_URL || 'http://localhost:3000';
---

<BaseLayout>
  <Loading id="loading" />
  <section data-api-url={apiUrl}>
    <h1>Register Account</h1>
    <RegisterForm />
    <FormSubInfo
      message="Already have an account?"
      href="/login"
      linkText="Log in"
    />
  </section>
</BaseLayout>

<style>
  section {
    padding: 80px 16px;
    max-width: 1280px;
    min-height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 24px;
    place-items: center;
    display: none;
  }

  h1 {
    font-size: 32px;
    font-weight: bold;
  }
</style>

<script is:inline type="module">
  const sectionElement = document.querySelector("section");
  const apiUrl = sectionElement.dataset.apiUrl;

  document.addEventListener("DOMContentLoaded", async () => {
    const loadingElement = document.getElementById("loading");
    const sectionElement = document.querySelector("section");

    function showLoading() {
      loadingElement.style.display = "block";
    }

    function hideLoading() {
      loadingElement.style.display = "none";
    }

    async function checkLoginStatus() {
      try {
        showLoading();

        const res = await fetch(`${apiUrl}/api/users/check-login`, {
          method: "GET",
          credentials: "include",
        });

        if (!res.ok) {
          throw new Error(`Failed to check login`);
        }

        const { isLoggedIn } = await res.json();

        if (isLoggedIn) {
          window.location.href = "/";
          return;
        }
      } catch (error) {
        console.error("Error checking login status:", error);
      } finally {
        hideLoading();
        sectionElement.style.display = "flex";
      }
    }

    checkLoginStatus();
  });
</script>
